<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
<!--
    <aop:aspectj-autoproxy/>
-->

    <bean id="testBeanX" class="com.changli.applicationContext.TestBean">
        <constructor-arg name="name" value="testBeanX"/>
    </bean>

<!--
    <bean id="testAspect" class="com.changli.applicationContext.parent.TestAspect"/>
-->
</beans>